<%- include('layouts/header') -%>

  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h1>Dashboard</h1>
        <p class="lead">Hello, user. Welcome to your new node.js and passport</p>
        <a href="" class="btn btn-secondary mt-2">Logout</a>
      </div>
    </div>
  </div>

<%- include('layouts/footer') -%>